<section class="cases js-reviews-slider">
  <div class="container">
    <h2 class="cases__title">Кейсы</h2>
    <div class="cases__slider swiper">
      <div class="swiper-wrapper">
        <div class="cases__slide swiper-slide">
          <div class="cases__slide-left">
            <h3 class="cases__slide-title">
              <span>Категория товаров: Электроника </span>
              <span class="cases__slide-title-underline"></span>
            </h3>
            <div class="cases__slide-text">
              <p>
                Бизнес партнер крупнейших брендов
                и производиетей, таких как: Philips, Schneider Electric, Legrand, IEK, TDM, и др. Постоянный складской запас включает более 10 000 наменований продкуции.
              </p>
            </div>
            <div class="cases__slide-img">
              <img width="74" height="72" src="img/cases-1.png" alt="Фото">
            </div>
          </div>
          <div class="cases__slide-right">
            <div class="cases__slide-result">
              <h4 class="cases__slide-result-title">До автоматизации</h4>
              <ul class="cases__slide-result-list">
                {{#each resultBefore}}
                  <li class="cases__slide-result-item cases__slide-result-item--minus">{{this}}</li>
                {{/each}}
              </ul>
            </div>
            <div class="cases__slide-result">
              <h4 class="cases__slide-result-title">После автоматизации</h4>
              <ul class="cases__slide-result-list">
                {{#each resultAfter}}
                  <li class="cases__slide-result-item cases__slide-result-item--plus">{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        <div class="cases__slide swiper-slide">
          <div class="cases__slide-left">
            <h3 class="cases__slide-title">
              <span>Категория товаров: Электроника </span>
              <span class="cases__slide-title-underline"></span>
            </h3>
            <div class="cases__slide-text">
              <p>
                Бизнес партнер крупнейших брендов
                и производиетей, таких как: Philips, Schneider Electric, Legrand, IEK, TDM, и др. Постоянный складской запас включает более 10 000 наменований продкуции.
              </p>
            </div>
            <div class="cases__slide-img">
              <img width="74" height="72" src="img/cases-1.png" alt="Фото">
            </div>
          </div>
          <div class="cases__slide-right">
            <div class="cases__slide-result">
              <h4 class="cases__slide-result-title">До автоматизации</h4>
              <ul class="cases__slide-result-list">
                {{#each resultBefore}}
                  <li class="cases__slide-result-item cases__slide-result-item--minus">{{this}}</li>
                {{/each}}
              </ul>
            </div>
            <div class="cases__slide-result">
              <h4 class="cases__slide-result-title">После автоматизации</h4>
              <ul class="cases__slide-result-list">
                {{#each resultAfter}}
                  <li class="cases__slide-result-item cases__slide-result-item--plus">{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        <div class="cases__slide swiper-slide">
          <div class="cases__slide-left">
            <h3 class="cases__slide-title">
              <span>Категория товаров: Электроника </span>
              <span class="cases__slide-title-underline"></span>
            </h3>
            <div class="cases__slide-text">
              <p>
                Бизнес партнер крупнейших брендов
                и производиетей, таких как: Philips, Schneider Electric, Legrand, IEK, TDM, и др. Постоянный складской запас включает более 10 000 наменований продкуции.
              </p>
            </div>
            <div class="cases__slide-img">
              <img width="74" height="72" src="img/cases-1.png" alt="Фото">
            </div>
          </div>
          <div class="cases__slide-right">
            <div class="cases__slide-result">
              <h4 class="cases__slide-result-title">До автоматизации</h4>
              <ul class="cases__slide-result-list">
                {{#each resultBefore}}
                  <li class="cases__slide-result-item cases__slide-result-item--minus">{{this}}</li>
                {{/each}}
              </ul>
            </div>
            <div class="cases__slide-result">
              <h4 class="cases__slide-result-title">После автоматизации</h4>
              <ul class="cases__slide-result-list">
                {{#each resultAfter}}
                  <li class="cases__slide-result-item cases__slide-result-item--plus">{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navigation navigation--new navigation--small">
        <button class="navigation__button prev" type="button" title="Prev">
          <svg width="13" height="8">
            <use xlink:href="#chevron-2" />
          </svg>
        </button>
        <button class="navigation__button next" type="button" title="Next">
          <svg width="13" height="8">
            <use xlink:href="#chevron-2" />
          </svg>
        </button>
      </div>
      <div class="new-pagination"></div>
    </div>
  </div>
</section>

<!--

    @include breakpoint(tablet) {

    }

    @include breakpoint(small-tablet) {

    }

    @include breakpoint(mobile) {

    }

-->